.main-page {
    padding: 0px 80px 30px 80px;
}

.page-container{
    display: flex;
    gap: 2rem;
}

.page-buttons-container {
    max-height: 80vh;
    overflow-y: scroll;
    width: 30%;
}

.page-graph-container {
    border: 1px solid lightgrey;
    margin-top: 6px;
    width: 70%;
    overflow: hidden;
    background-color: white;
    max-height: 80vh;
    position: relative;
}   
    /* .page-graph-container *{
        transition: none;
    }
    .page-graph-container > div{
        height: 80% !important;
    }
    .page-graph-container  svg{
        height: 100% !important;
    } */

.loader-container {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    background-color: #d9dedb;
    position: absolute;
    z-index: 2;
}

.page-graph-id-label {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem 3rem 2rem;
    min-width: 4rem;
    height: 3rem;
    z-index: 2;
    position: absolute;
}

.page-graph-id-label-text{
    color: white;
    font-size: 3rem;
}

.page-filter {
    padding: 5px;
    width: 29%;
    border-radius: 4px;
    outline: none;
    border: 1px solid var(--primary-color-light);
    color: var(--primary-color);
    margin-bottom: 10px;
}

/* overriting the component CSS */
.force-graph-container{
    transform: translateX(-15rem);
}


.graph-list-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .graph-list-header > div {
        width: 50%;
        display: flex;
        justify-content: end;
        gap: 2rem;
        margin-bottom: 2rem;
    }